*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000000;
  font-family: Oswald;
  background: #e5e5e5;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/*------------------------------HEADER------------------------------*/
.header {
  position: static;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 50;
}
._container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}
.header__container {
  display: flex;
  min-height: 80px;
  align-items: center;
}
.logo {
  width: 90px;
  height: 80px;
  border-radius: 50%;
}
.menu {
  display: flex;
}
.menu__list {
  margin: 0px 0px 0px 40px;
  padding: 5px;
  flex-wrap: wrap;
}
.menu__item:hover {
  border-bottom: 2px solid black;
  transition: 0.2s;
}
.menu__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}
.call {
  position: sticky;
  left: 1047px;
  background: #0057ff;
  height: 52px;
  width: 193px;
  border-radius: 30px;
}
.call__tel {
  display: flex;
  margin-top: 14px;
  margin-left: 50px;
  color: #e5e5e5;
  width: 113px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
}
.border__:hover {
  border-bottom: solid 1px #e5e5e5;
  transition: 0.3px;
}
.icon__call {
  height: 24px;
  margin-left: -133px;
  width: 24px;
}
/*------------------------------MAIN------------------------------*/
.main {
  flex: 1 0 auto;
}
/*------------------------------FOOTER------------------------------*/
footer {
  position: static;
  width: 100%;
  height: 254px;
  left: 0px;
  top: 0px;
  z-index: 50;
  background: #000000;
  flex: 0 0 auto;
}
.footer {
  max-width: 1200px;
  font-family: Roboto;
  color: #e5e5e5;
}
.footer__info {
  max-width: 1200px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.footer__logo__footer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.footer__adress {
  position: sticky;
  left: 1047px;
  color: #e5e5e5;
  line-height: 25px;
}
.footer__icon_tel {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.footer__producer {
  max-width: 1200px;
  height: 70px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.icon {
  position: sticky;
  margin-left: 710px;
}
._icon {
  width: 40px;
  height: 40px;
  margin: 0px 0px 0px 20px;
}
